body {
	font-family: Arial, sans-serif;
	background-color: #f1f1f1;
	text-align: justify;
}

header {
	background-color: #004aad;
	color: #fff;
	padding: 20px;
}

img{
	width: 12.9%;
	float: right;
	height: auto;
	margin: 0;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

main {
	padding: 20px;
}

footer {
	background-color: #004aad;
	color: #fff;
	padding: 20px;
	text-align: center;
}
